<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=9" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="GitHub Repository Viewer - Made for a university tutorial" name="description">
    <meta content="Maarten van Ittersum" name="author">
    <meta content="Maarten van Ittersum, 2020" name="copyright">
    <meta content="GitHub Repository Viewer" property="og:title">
    <meta content="website" property="og:type">
    <meta content="GitHub Repository Viewer - Made for a university tutorial" property="og:description">
    <meta content="GitHub Repository Viewer" property="og:site_name">
    <title>GitHub Repository Viewer</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
